* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  position: relative;
  min-height: 100vh;
}
body{background-color: rgb(245, 244, 244);}
.hide{display: none !important;}
a{text-decoration: none; color: black;}
header {
  background-color: rgb(163, 163, 163);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.logo{
  height: 55px;
}
.title{
  display: flex;
  align-items: center;
}
header h1 {
  font-size: 1.6rem;
  
} 
ul {
  list-style: none;
  display: flex;
  /* gap: 10px; */
  /* margin-right: 10px; */
}
li {
  cursor: pointer;
  font-size: 1.4rem;
}
li+li{
  margin-left: 10px;
}
/* span,
span::before,
span::after{ background-color: red; width: 20px; height: 2px; position: relative; margin-right: 10px;}
span::before,
span::after{content: '';position: absolute;}
span::before{bottom: 8px;} span::after{top: 8px;} */
/**/
.options{
  display: flex;
  justify-content: center;
  /* gap: 5%; */
  margin-top: 15px;
  font-size: 1.7rem;
}
.options > * + *{
  margin-left: 5%;
}
select{
  font-size: 1.2rem;
  padding: 5px;
}
/**/
.products {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  margin-bottom: 40px;
  place-content: center;
  /* place-items: center; */
  row-gap: 15px;
  column-gap: 10px;
}
.product {
  background-color: white;
  border: 1px rgb(204, 204, 204) solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0px;
  position: relative;
}


.product h3 {
  text-align: center;
  font-size: 1.3rem;
}
.product img {
  margin-top: 20px;
  width: 100%;
  margin: 0 auto;
}
.details {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
}
.price{
  background-color: rgba(163, 163, 163, 0.925);
  padding: 4px;
  position: absolute;
  top: 20%;
  right: 2%;
  font-size: 1.7rem;
}
/**/
footer {
  display: grid;
  place-items: center;
  background-color: grey;
  height: 40px;
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  bottom: -30px;
}

@media (max-width: 460px) {
  .products{
    grid-template-columns: repeat(auto-fit, 48%) !important;
    row-gap: 18px;
    column-gap: 10px;
    
  }
  .product{
    height: 90vw !important;
  }
  .price{
    font-size: 1.3rem;
    margin-top: 40px;
  }
}

@media (max-width: 560px) {
  .products {
    grid-template-columns: repeat(auto-fit, 48%);
    place-items: center;
  }
  .product{
    flex-grow: 100%;
    height: 70vw;
  }
}

@media (min-width: 768px) {
  .products{
    grid-template-columns: repeat(auto-fit, 240px);
    row-gap: 18px;
    column-gap: 16px;
  }
}

@media (min-width: 946px) {
  header{
    justify-content: center;
    gap: 65%;
  }
  header h1 {
    width: 124px;
  } 
}

@media (min-width: 1260px) {
  .products{
    grid-template-columns: repeat(4, 240px);
  }
}

